*{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.header__wrapper {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
.header__board {
    margin-right: 100px;
}
.header__board-txt {
    font-size: 20px;
    font-weight: 600;
}
.header__logo {
    background-color: white;
    height: 30px;
    text-align: center;
}
.header__logo:focus {
    outline: none;
}
.wrapper {
    display: flex;
    align-items: center;
}
.search__box {
    display: flex;
    background-color: #f1f1f1;
    height: 40px;
    min-width: 300px;
    border-radius: 40px;
    padding: 10px 20px;
}
.search__box:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.search__btn {
    align-items: center;
    color: darkgrey;
    background-color: #f1f1f1;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.search__btn:focus {
    outline: none;
    color: #4183c4;
    transform: scale(1.2);
}
.search__txt {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 40px;
    color: black;
    font-size: 12px;
    width: 100%;
}
.user__icon-foto {
    height: 40px;
    width: 40px;
}
.user__icon {
    cursor: pointer;
    text-align: center;
    margin-left: 50px;
}
/* Стили для карточки в ToDo */

.card__todo-title, .card__inprogress-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 19px;
}
.card__todo-description, .card__inprogress-description{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.card__todo-author {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.user {
    display: flex;
    align-items: center;
    font-size: 16px;
}
.card__todo-move, .card__inprogress-move {
    color:  #5e6472;
}
.card__todo-move:hover {
    color: darkgrey;
}
.card__todo-edit, .card__todo-delete {
    color:  #5e6472;
}
.card__todo-edit :hover, .card__todo-delete :hover {
    color: darkgrey;
}
.card__todo-edit {
    padding-right: 10px;
    padding-top: 3px;
    transition: 0.3s;
}
/* Стили для карточки в InProgress */

.card__todo {
    background-color: #edf2fb;
    width: 20%;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
}

.card_top {
    display: flex;
    justify-content: space-between;
}

.card_bottom {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}